.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-container {
  flex: 1;
  margin-right: 20px; /* Aumentar el margen derecho */
}

.tabla-container {
  flex: 2;
  max-width: 60%; /* Asegurarse de que la tabla no ocupe todo el espacio */
}

.tabla-wrapper {
  overflow: hidden;
}

.tabla-productos {
  width: 100%;
  border-collapse: collapse;
}

.tabla-productos th, .tabla-productos td {
  border: 1px solid #ddd;
  padding: 12px; /* Aumentar el padding */
}

.tabla-productos th {
  background-color: #f5f5f5; /* Cambiar el fondo del encabezado */
  color: #333; /* Cambiar el color del texto del encabezado */
}

.tabla-datos {
  display: block;
  max-height: 300px; /* Ajusta esto según necesites */
  overflow-y: auto; /* Solo una barra de desplazamiento aquí */
}

.tabla-datos table {
  width: 100%;
  border-collapse: collapse;
}

.tabla-datos td, .tabla-datos th {
  border: 1px solid #ddd;
  padding: 12px; /* Aumentar el padding */
}

.tabla-datos thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tabla-datos tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  max-height: 300px; /* Ajusta esto según necesites */
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Aumentar el margen superior */
}
