.registrar-compra-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container, .tabla-container {
    flex: 1;
    min-width: 300px;
    max-width: 45%;
    margin: 10px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: calc(100% - 12px);
    padding: 8px;
    margin-left: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .busqueda {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .busqueda input[type="radio"] {
    margin-right: 10px;
  }
  
  .busqueda label {
    margin-right: 20px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-registrar-compra, .btn-cancelar, .btn-regresar {
    display: inline-block;
    width: 30%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-registrar-compra {
    background-color: #28a745;
  }
  
  .btn-cancelar {
    background-color: #dc3545;
  }
  
  .btn-regresar {
    background-color: #0069d9;
  }
  
  .btn-registrar-compra:hover {
    background-color: #218838;
  }
  
  .btn-cancelar:hover {
    background-color: #c82333;
  }
  
  .btn-regresar:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  .tabla-productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .tabla-productos th, .tabla-productos td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tabla-productos th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .tabla-productos td {
    text-align: center;
  }
  
  .btn-seleccionar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-seleccionar:hover {
    background-color: #0056b3;
  }
  